// Mixins Here
.displayFlex(@direction: row, @justifyContent: space-between, @alignItems) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justifyContent;
    align-items: @alignItems;
}

.textStyler(@color: black, @weight, @size, @family) {
    color: @color;
    font-weight: @weight;
    font-size: @size;
    font-family: @family;
}

.ourTeamH1Editor(@top, @height, @size) {
    margin-top: @top;
    height: @height;
    font-size: @size;
}

.aboutIconResizer(@height, @width) {
    height: @height;
    width: @width;
}