// Variables

// Color pointers
@nav-bg: @soft-black;
@nav-font: @sea-shell;
@cta-banner-overlay: @waterloo;
@cta-banner-font-color: white;

@main-font-color: @shuttle-gray;
@main-border-color: @border-real;

@footer-background: @wild-sand;
@footer-font-color: @waterloo;

// Color Vars
@soft-black: #1A1A1D;
@pintereach-red: #DC143C;
@sea-shell: #F1F1F1;
@waterloo: #81848E;

@wild-sand: #F6F6F6;
@river-bend: #454A59;
@ebony-clay: #23293B;
@shuttle-gray: #5E6164;
@porcelain: #F6F7F8;
@btn-bg-color: #22283A;
@border-real: #dee2e6;

// Mobile var
@phone: ~"(max-width: 500px)";
@hamburger: ~"(max-width: 700px)";
@tablet: ~"(max-width: 800px)";
@desktop: ~"(max-width: 1000px)";

// Font var
@headerFont: 'PT Sans', sans-serif;
@paragraphFont: 'PT Sans Narrow', sans-serif;